{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">حجز جديد</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.child_id.label(class="form-label") }}
                            {{ form.child_id(class="form-select") }}
                        </div>
                        <div class="col-md-6">
                            {{ form.booking_type.label(class="form-label") }}
                            {{ form.booking_type(class="form-select") }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.start_date.label(class="form-label") }}
                            {{ form.start_date(class="form-control") }}
                        </div>
                        <div class="col-md-6">
                            {{ form.end_date.label(class="form-label") }}
                            {{ form.end_date(class="form-control") }}
                        </div>
                    </div>
                    <div class="d-grid">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}